*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.logo-img{
  width: 50px;
}
body{
  background-color: rgb(121, 160, 244);
  color: white;
  padding-top: 100px;
}
li a{
  color: white !important;
}
.doct-img{
  width: 100%;
}
.form-floating{
  color:rgb(121, 160, 244);
}
.form-control, select{
  margin-bottom: 10px;
}
.carousel-item{
  padding:7% 15%;
}
a{
  color: white;
  text-decoration: none;
}
.card{
  margin-bottom: 10px;
}
nav{
  background-color: rgb(137, 34, 234);
}