*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 50px;
}
body{
  background-color: rgb(121, 160, 244);
  color: white;
}
li a{
  color: white !important;
}
.doct-img{
  width: 100%;
}
.form-floating{
  color:rgb(121, 160, 244);
}
.form-control, select{
  margin-bottom: 10px;
}